<footer>
  <div class="row">
    <div class="small-6 columns clearfix">
      <a href="https://github.com/"><i class="fa fa-github fa-2x right"></i></a>
    </div>
    <div class="small-6 columns clearfix">
        <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x left"></i></a>
    </div>
  </div>
	<div class="row">
		<div class="small-12 column">
			<h5 class="text-center"><small>Share you tee <a href="http://google.com/">Google</a> created by <a href="https://facebook.com/fahad.gudu">Fahad Idrees</a></small></h5>
      <h5 class="text-center"><small>This is just a sample text.</small></h5>
		</div>
	</div>	
</footer>
