<footer>
  <div class="row">
    <div class="small-6 columns clearfix">
      <a href="https://github.com/"><i class="fa fa-github fa-2x right"></i></a>
    </div>
    <div class="small-6 columns clearfix">
        <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x left"></i></a>
    </div>
  </div>
	<div class="row">
		<div class="small-12 column">
			<h5 class="text-center"><small>Share you tee <a href="http://google.com/">Google</a> created by <a href="https://facebook.com/fahad.gudu">Fahad Idrees</a></small></h5>
      <h5 class="text-center"><small>This is just a sample.</small></h5>
		</div>
	</div>	
</footer>
<script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
  var disqus_shortname = 'sharemytees';
  
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  </script>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-551be43d68cf1422" async="async"></script>

  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>